<section class="form list-student-section container-fluid">
  <a href="/teacher/options" class="btn btn-outline-dark">Go Back</a>
  <div class="container list-students">
    <h4 class="text-center"><u>All Students Results</u></h4>
      <!-- No data message -->
      <p class="no-data text-center text-danger" style="display: none;">No students have been added so far!</p>
      <!-- Results list -->
      <table class="table">
        <thead class="table-dark">
          <tr>
            <th scope="col">Roll No.</th>
            <th scope="col">Name</th>
            <th scope="col">Date of Birth</th>
            <th scope="col">Score</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <%  results.forEach(student => { %>
            <tr class="head">
                <td><%= student.roll %></td>
                <td><%= student.name %></td>               
                <td><%= student.dob %></td>
                <td><%= student.score %></td> 
                <td>
                  <a href="/teacher/update-results/<%= student._id %> "><img style="margin: 0px 5px;" src="https://img.icons8.com/material-outlined/30/000000/edit.png"/></a>
                  <a href="/teacher/delete-results/<%= student._id %> "><img style="margin: 0px 5px;" src="https://img.icons8.com/ios-glyphs/30/000000/filled-trash.png"/></a>
                </td>
              </tr>
        <%}) %>
        </tbody>
      </table>
    </div>
</section>
